/* --- RESET + FONT --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.navbar {
  width: 100%;
  height: 70px;
  background: #1e1e2e; /* industrial dark */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.35);
  border-bottom: 1px solid #2c2c3c;
}

.navbar__logo:hover{
    color: #4fa3ff;
}

.navbar__logo {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.7px;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar__links a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: 550;
  transition: 0.3s ease;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.navbar__links a:hover {
  color: #4fa3ff;
  border-bottom: 2px solid #4fa3ff;
}

/* Buttons */
.navbar__actions {
  display: flex;
  gap: 1rem;
}

.btn-login,
.btn-signup {
  padding: 8px 16px;
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.25s ease;
}

.btn-login {
  background: transparent;
  border: 1px solid #4fa3ff;
  color: #4fa3ff;
}

.btn-login:hover {
  background: #4fa3ff;
  color: #12121a;
}

.btn-signup {
  background: #4fa3ff;
  color: #12121a;
}

.btn-signup:hover {
  background: #76bdff;
}

/* Responsive */
@media (max-width: 768px) {
  .navbar__links,
  .navbar__actions {
    display: none;
  }
}
